/**
 * Type: Theme.
 * Red theme.
 */

.theme-red {
  --theme-background-color: #ef3e4a;
  --theme-color: #ffefe5;
  --theme-button-background-color: #ffefe5;
  --theme-button-hover-background-color: #ecded6;
  --theme-button-color: #ef3e4a;
  --theme-link-color: #ffefe5;
  --theme-divider-background-color: var(--color-white);
  --theme-input-border: #ffefe5;
  --theme-input-color-marked: #ffefe5;
}
