/**
 * Type: Base.
 * Fonts.
 */

@font-face {
  font-display: swap;
  font-weight: 400;
  font-family: "DM Sans";
  font-style: normal;
  src: url("../../../fonts/dm-sans-v17-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-weight: 500;
  font-family: "DM Sans";
  font-style: normal;
  src: url("../../../fonts/dm-sans-v17-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-weight: 700;
  font-family: "DM Sans";
  font-style: normal;
  src: url("../../../fonts/dm-sans-v17-latin-700.woff2") format("woff2");
}
