/**
 * Type: Molecules.
 * Burger.
 */

.burger {
  display: inline-flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding: 10px 5px;
  font-size: var(--base-font-size-extra-small);
  cursor: pointer;

  @media (--viewport-lg-min) {
    display: none;
  }

  &__lines {
    > span {
      display: block;
      width: 30px;
      height: 2px;
      margin-bottom: 6px;
      background-color: var(--color-gray-medium);
      border-radius: 2px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
