/**
 * Type: Molecules.
 * Logo.
 */

.logo {
  z-index: 3;
  margin-right: 40px;
}

.logo__image {
  display: block;
  width: 100px;
  height: 54px;
  transition: all .2s;
  fill: var(--color-black);

  @media (--viewport-lg-min) {
    width: 125px;
    height: 67px;
  }

  .header--sticky & {
    width: 100px;
    height: 54px;
  }
}
