/**
 * Type: Molecules.
 * Search toggle.
 */

.search-toggle {
  position: relative;
  display: inline-flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 10px 5px;
  font-weight: 300;
  font-size: var(--base-font-size);
  cursor: pointer;

  @media (--viewport-lg-min) {
    margin-left: 0;
    padding: 15px;
  }

  .icon--search {
    width: 26px;
    height: 26px;
    fill: var(--color-gray-medium);
  }
}
