/**
 * Type: Molecules.
 * Sub navigation.
 */

.sub-navigation {
  position: absolute;
  top: calc(100% + 15px);
  left: 0;
  display: none;
  width: 225px;
  padding: 15px 0;
  background-color: var(--color-black);
  box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 20%);
  opacity: 0;
  transition: all .3s;
  will-change: transform;

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &-item {
    position: relative;
    display: block;

    .icon--chevron-down {
      position: absolute;
      top: 50%;
      right: 20px;
      width: 12px;
      height: 12px;
      transform: rotate(-90deg) translateX(50%);
      transition: all .2s;
      fill: var(--color-gray);
    }

    &:hover,
    &:focus {
      .icon--chevron-down {
        fill: var(--color-white);
      }
    }

    .sub-navigation {
      top: -15px;
      left: 230px;
    }
  }
}

.sub-navigation__link {
  display: inline-block;
  padding: 10px 24px;
  color: var(--color-gray);
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  transition: all .2s;

  &::after {
    position: relative;
    top: auto;
    bottom: -2px;
    left: 0;
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--color-white);
    transition: all .2s;
    content: "";
  }

  &:hover,
  &.is-active {
    padding-left: 33px;
    color: var(--color-white);

    &::after {
      width: 100%;
    }
  }

  &:focus-visible {
    padding-left: 33px;
    color: var(--color-white);
    outline: 0;

    &::after {
      width: 100%;
    }
  }
}
