{% if title %}
  <section class="section section--spacing-top-medium section--spacing-bottom-medium">
    <div class="container">
      <h1 class="h2">{{ title }}</h1>
      <div class="title__arrow">
        {% include '@reusable-component/svg-icon.twig' with {
          'attributes': '',
          'svgIconName': 'chevron-down'
        } %}
      </div>
    </div>
  </section>
{% endif %}
