/**
 * Type: Organisms.
 * Appetiser.
 */

.appetiser {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  picture,
  img {
    display: block;
    height: inherit;
  }

  img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  &__content-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    @media (--viewport-md-min) {
      width: 50%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__title,
  &__description {
    margin-bottom: 20px;
  }

  &__image {
    width: 100%;

    & > div {
      width: 100%;
      height: 100%;
    }

    @media (--viewport-md-min) {
      width: 50%;

      .appetiser--full-width & {
        position: absolute;
        width: 50vw;
      }
    }
  }

  &--image-left {
    .appetiser__content {
      @media (--viewport-md-min) {
        padding-left: 100px;
      }
    }

    &.appetiser--full-width {
      @media (--viewport-md-min) {
        .appetiser__image {
          right: 50%;
          height: 100%;
        }

        .appetiser__content-wrapper {
          margin-left: 50%;
        }
      }
    }
  }

  &--image-right {
    .appetiser__image {
      @media (--viewport-md-min) {
        order: 1;
      }
    }

    .appetiser__content {
      @media (--viewport-md-min) {
        padding-right: 100px;
      }
    }

    &.appetiser--full-width {
      @media (--viewport-md-min) {
        .appetiser__image {
          left: 50%;
          height: 100%;
        }

        .appetiser__content-wrapper {
          margin-right: 50%;
        }
      }
    }
  }

  &--content-center {
    .appetiser__content {
      align-items: center;
      text-align: center;
    }
  }

  &--content-right {
    @media (--viewport-md-min) {
      .appetiser__content {
        align-items: flex-end;
        text-align: right;
      }
    }
  }
}
