/**
 * Type: Organisms.
 * Header.
 */

/* When user is logged in, we remove fixed from header */
body.gin--vertical-toolbar,
body.gin--horizontal-toolbar,
body.gin--classic-toolbar {
  & header.header {
    position: relative;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  color: var(--color-gray-dark-1);
  font-weight: 500;
  font-family: var(--heading-font-family);
  background-color: var(--site-background-color);
  transition: transform .2s ease;

  &--sticky {
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 10%);
    transform: translateY(0);

    @media (--viewport-lg-min) {
      transform: translateY(calc(var(--meta-menu-height) * -1));
    }
  }

  &.header--hidden {
    transform: translateY(calc(var(--header-height-mobile) * -1));

    @media (--viewport-lg-min) {
      transform: translateY(calc(calc(var(--header-height) + var(--meta-menu-height)) * -1));
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height-mobile);
    padding-right: 15px;
    padding-left: 15px;

    @media (--viewport-lg-min) {
      height: var(--header-height);
      padding-right: 55px;
      padding-left: 55px;

      .header--sticky & {
        height: calc(var(--header-height) - 20px);
      }
    }
  }

  /* When user is logged in, we remove fixed from header */
  .gin--classic-toolbar.toolbar-horizontal &,
  .gin--classic-toolbar.toolbar-horizontal.toolbar-tray-open & {
    position: relative;
  }
}
