.overview-form-facets {
  padding-top: var(--half-gutter-width) !important; /* stylelint-disable-line */
  color: var(--color-black);

  .form-item {
    margin-bottom: var(--half-gutter-width) !important; /* stylelint-disable-line */
  }

  .input {
    color: var(--color-black) !important; /* stylelint-disable-line */
    background-color: var(--color-white) !important; /* stylelint-disable-line */
    border-color: var(--color-gray) !important; /* stylelint-disable-line */;
  }

  .checkbox:not(:checked) + label:before {
    border-color: var(--color-gray) !important; /* stylelint-disable-line */;
  }

  .checkbox:not(:checked) + label:after {
    border-right-color: var(--color-black) !important; /* stylelint-disable-line */;
    border-bottom-color: var(--color-black) !important; /* stylelint-disable-line */;
  }

  .checkbox:checked + label:before {
    border-color: var(--color-gray) !important; /* stylelint-disable-line */;
  }

  .checkbox:checked + label:after {
    border-right-color: var(--color-primary) !important; /* stylelint-disable-line */;
    border-bottom-color: var(--color-primary) !important; /* stylelint-disable-line */;
  }

  &__sorting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: var(--half-gutter-width);

    .form-item {
      margin-bottom: 0 !important; /* stylelint-disable-line */
    }

    select {
      border: none;
      background: none;
      font-size: 16px;
      line-height: 22px;
      font-weight: inherit;
      color: var(--theme-color);
      padding: 0 15px 0 0;
    }
  }

  .form-item-text {
    position: relative;
    display: block;
    padding: 15px 20px;
    background-color: var(--color-white);
    border: none;
    box-shadow: 0 3px 20px rgba(49 51 53 / 3%);

    .label {
      margin-bottom: 10px;
      color: var(--color-black);
      font-weight: 700;
      font-size: 19px;
    }
  }

  fieldset:last-child {
    margin-bottom: 0;
  }
}
